<div class="panel panel-default" ng-controller="AvsRecordController as vm">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                Virtual
            </div>
            <div class="col-xs-6">
                <span class="badge pull-right">ui-virtual-list</span>
                <span class="badge pull-right">Large Record Set</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" ng-model="vm.recordCount" />
                        <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="vm.generateRecords()">
                Generate
              </button>
            </span>
                    </div>
                    <!-- /input-group -->
                    <p class="help-block">Performance Restraint: limits to 1000 (renders max at 1,000,000)</p>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="viewport">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>First</th>
                            <th>Last</th>
                            <th>Email</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr sf-virtual-repeat="record in vm.records">
                            <td>{{ record.first }}</td>
                            <td>{{ record.last }}</td>
                            <td>{{ record.email | lowercase }}</td>
                            <td>{{ record.birthday | date:'MM/dd/y' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        Rendered Records: {{ vm.records.length }}
    </div>
</div>