
.table-fixedhead {
  table {
      width: 100%;
      border-spacing: 0;
  }

  thead, tbody, tr, th, td { display: block; }

  thead tr {
      width: 100%;
  }

  tr:after {  /* clearing float */
      content: ' ';
      display: block;
      visibility: hidden;
      clear: both;
  }

  tbody {
      height: 150px;
      overflow-y: auto;
      overflow-x: hidden;
  }

  tbody td, thead th {
      width: 25%;  /* 19% is less than (100% / 5 cols) = 20% */
      float: left;
  }
}